body{
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#barra{
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); 
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); 
}
.btn-light {
  border: 1px solid gray;
}
.btn-light:hover {
  color: rgb(162, 0, 255);
  transition: 2s;
}

#papas {
  zoom: 1.5;
  transform: rotate(0);
  transition: all 3s;
}

#papas:hover {
  zoom: 1.5;
  transform: rotate(360deg);
  transition: all 3s;
}
.container{
  border: 5px outset rgba(0, 0, 0, 0.61); 
  border-radius: 15px;
  box-shadow: 0 0 55px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 50px; 
  margin-top: 50px; 
  padding: 30px;
}
.float-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: #ece9e6;
  color: rgba(73, 73, 73, 0);
  border-radius: 5px;
  text-align: center;
}
